$green: #88ce02;
$dark: #262626;

body {
  background-color: #ebebeb;
}
h1 {
  font-size: 16px;
  width: 300px;
  color: #838484;
  font-weight: 300;
  text-align: center;
  span {
    color: #89c540;
  }
  strong {
    color: #fff;
  }
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  z-index: 100;
  background-color: $dark;
  border: 1px solid transparentize(white, .7);
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px #232323 solid;
}